{% extends 'layout.twig' %}

{% block container %}

<div class="row">
    <div class="col-lg-12">
        <h2>Editar Categoria</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">

        <form action="{{ path('editar-categoria', {'id': categoria.id} ) }}" method="post" class="form-horizontal">

            <div class="form-group">
                <label>Nome da Categoria</label>
                <input type="text" name="nome" class="form-control" required="required" value="{{ categoria.nome }}">
            </div>

            <input type="hidden" name="id" value="{{ categoria.id }}">
            <input type="hidden" id="_method" name="_method" value="PUT" />
            <button type="submit" class="btn btn-info"><i class="glyphicon glyphicon-check"></i> Salvar</button>

        </form>

    </div>
</div>


{% endblock %}
